* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1{
  text-align: center;
    text-shadow: 2px 3px 0px #898999;
    padding-bottom: 20px;
    font-size: 3.25em;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color:#000;
    letter-spacing: 0.063em;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
}

.card {
  background: rgb(255, 249, 249);
  font-size: 12px;
  color: rgb(68, 68, 68);
  margin: 10px;
  padding: 30px;
  transition: 1s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.content {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  margin-top: 20px;
}

p {
  font-weight: bold;
}

img {
  border-radius: 5px;
  height: 200px;
  width: 300px;
}