*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh; /*important one*/
    align-items: center;
    flex-direction: column;
    background-color: #000000;
}

.headtext{
    text-align: center;
    text-shadow: 2px 3px 0px #898999;
    padding-bottom: 20px;
    font-size: 3.25em;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color:#fff;
    letter-spacing: 0.063em;
}
.content{
    height: 250px;
    width: 400px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    flex-direction: column;
    box-shadow: 2px 4px 8px rgba(233, 236, 239, 0.8);
    
}
.container{
    padding-bottom: 25px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.number{
    color: #ffffff;
}
.button-container{
    display: flex;
    justify-content: space-evenly;
    width: 250px;
}

.increment,.decrement{
    width: 50px;
    border-radius: 50%;
    font-size: large;
    height: 50px;
    
}
